$--background-color-white: #fff;
$--background-color-black: #000;

$gray-1: #f7f8fa;
$gray-2: #f2f3f5;
$gray-3: #e5e6eb;
$gray-4: #c9cdd4;
$gray-5: #a9aeb8;
$gray-6: #86909c;
$gray-7: #6b7785;
$gray-8: #4e5969;
$gray-9: #272e3b;
$gray-10: #1d2129;

$blue-1: #E8F3FF;
$blue-2: #BEDAFF;
$blue-3: #94BFFF;
$blue-4: #6AA1FF;
$blue-5: #4080FF;
$blue-6: #165DFF;
$blue-7: #0E42D2;
$blue-8: #072CA6;
$blue-9: #031A79;
$blue-10: #000D4D;

$green-1: #E8FFEA;
$green-2: #AFF0B5;
$green-3: #7BE188;
$green-4: #4CD263;
$green-5: #23C343;
$green-6: #00B42A;
$green-7: #009A29;
$green-8: #008026;
$green-9: #006622;
$green-10: #004D1C;

$red-1: #FFECE8;
$red-2: #FDCDC5;
$red-3: #FBACA3;
$red-4: #F98981;
$red-5: #F76560;
$red-6: #F53F3F;
$red-7: #CB272D;
$red-8: #A1151E;
$red-9: #770813;
$red-10: #4D000A;

$yellow-1: #FEFFE8;
$yellow-2: #FEFEBE;
$yellow-3: #FDFA94;
$yellow-4: #FCF26B;
$yellow-5: #FBE842;
$yellow-6: #FADC19;
$yellow-7: #CFAF0F;
$yellow-8: #A38408;
$yellow-9: #785D03;
$yellow-10: #4D3800;